* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #FEFF9F;
}

.h-logo-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 1%;
}

.wikicazas-text {
    font-size: 5vw;
}

.main-fighter-img {
    width: 100%;
    max-height: 20vw;
}

nav {
    background-color: #72BF78;
    justify-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #A0D683;
}

.recently-searched {
    margin-top: 4vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.recent-options {
    padding: 2%;
}

.options {
    padding-bottom: 1vw;
}



footer {
    margin-top: 4vw;
}

p {
    max-width: 95vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wikicazas-text {
        font-size: 10vw;
    }

    .main-fighter-img {
        width: 100%;
        max-height: 50vw;
    }

    .fighter-images {
        width: 100%;

    }

    .recently-searched {
        flex-direction: column;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wikicazas-text {
        font-size: 9vw;
    }

    .main-fighter-img {
        width: 100%;
        max-height: 25vw;
    }

   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-fighter-img {
        width: 100%;
        max-height: 25vw;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wikicazas-text {
        font-size: 5vw;
    }

    .main-fighter-img {
        width: 100%;
        max-height: 20vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}